@using GoM.Models

@model GoM.Models.ManageViewModel

@{
    ViewBag.Title = "Edit Account";
}

<h4 class="margin-top-45">My Orders</h4>
<hr />

<section class="container">
    <div class="row">
        @if (Database.Account.Payments.Count() > 0)
        {
            foreach (var payment in Database.Account.Payments)
            {
                <div class="col-md-3 margin-bottom-45">
                    <p>Order Number: @payment.OrderNumber</p>
                    <p>Order Date: @payment.OrderDate</p>
                    <p>Order Status: Pending</p>
                    <p>Order Total: $@payment.Account.ShoppingCart.Amount</p>
                    <p>Shipping Address: @payment.Account.Address</p>
                    @foreach (var product in payment.Account.ShoppingCart.Products)
                    {
                        <img class="product-xs" src="@product.Album.ImageSource" />

                    }

                </div>
            }
        }

        else
        {
            <h3>You have no current orders</h3>
        }
    </div>
</section>





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal margin-top-45">
        <h4>Edit Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @Value = Database.Account.FirstName, @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @Value = Database.Account.LastName, @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @Value = Database.Account.Email, @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @Value = Database.Account.Address, @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Done" class="btn btn-danger btn-block" />
            </div>
        </div>
    </div>
}

<div class="margin-top-45">
    <a href="/Products/Index" class="btn btn-default"><span class="glyphicon glyphicon-cd"></span> Back to Products</a>
</div>
