@using GoM.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Good ol' Music</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css">
</head>
<body>
    <nav id="navigationbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarcollapse" aria-expanded="true">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">
                    <img class="logo" src="../Images/logo2.png" style="height:auto; width:50px;" alt="Logo">
                </a>
            </div>

            <div class="navbar-collapse collapse in" id="navbarcollapse" aria-expanded="true">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Products/Index">All Products</a></li>
                            <li><a href="~/Products?SearchText=Rock">Rock</a></li>
                            <li><a href="~/Products?SearchText=Pop">Pop</a></li>
                            <li><a href="~/Products?SearchText=Blues">Blues</a></li>
                            <li><a href="~/Products?SearchText=Soul">Soul</a></li>
                            <li><a href="~/Products?SearchText=HipHop">Hip Hop</a></li>
                            <li><a href="~/Products?SearchText=Reggae">Reggae</a></li>
                            <li><a href="~/Products?SearchText=Grunge">Grunge</a></li>
                        </ul>
                    </li>
                    <li style="padding: 15px">
                        @*Sökrutan expanderar. Inte klar med css än men du kan flytta den var du vill*@
                        @using(Html.BeginForm("Index", "Products", FormMethod.Get))
                            {

                            @Html.TextBox("SearchText", null, new { @class = "search-box" })

                            <label for="search-box"><span class="fa fa-search search-icon"></span></label>
                            <input type="submit" id="search-submit" />

                            }
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (Database.Account == null)
                    {
                        <li><a href="/Account/Register">Register</a></li>
                        <li><a href="/Account/LogIn">Log In</a></li>
                    }

                    else
                    {
                        <li>
                            <a href="/Checkout/Cart"><span class="glyphicon glyphicon-shopping-cart"></span> @Database.Account.ShoppingCart.NumberOfProducts</a>
                        </li>
                        <li>
                            <a href="/Account/Manage">@Database.Account.FirstName</a>
                        </li>
                        <li>
                            <a href="/Account/LogOff">Log off</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Good ol' Music</p>
        </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="~/scripts/mustafasearch.js"></script>

    <script src="~/scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
