@model IEnumerable<GoM.Models.Album>

@{
    ViewBag.Title = "Search Results";
}

<div class="container margin-top-45">
    <div class="row">
        @foreach (var album in Model)
            {
            <div class="col-md-4 col-sm-6 margin-top-30">
                <a href="#" class="thumbnail">
                    <img src="@album.ImageSource" />
                </a>
                <h3>@album.Artist - @album.Title</h3>
                <h4>Price: $@album.Price</h4>
                <h4>Genre: @album.Genre</h4>
                <p>Number Of Tracks: @album.NumberOfSongs</p>
                <p>In Stock: @album.InStock</p>
                @if (album.InStock > 0)
                {
                    <form action="/Products/AddToCart" method="post">
                        <input name="id" type="hidden" value="@album.Id" />
                        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                    </form>
                }

                else
                {
                    <h4 class="text-danger">Out of stock</h4>
                }
            </div>
        }

    </div>
</div>